
/* --------- Universal Section -------- */

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:50px;
    color: dimgray;
}
h2{
    font-size: 40px;
    color: dimgray;
    margin-bottom: -10px;
}
h3{
    font-size: 35px;
    color: dimgray;
}
p{
    font-size: 20px;
    color: gray;
    padding-bottom: 20px;
}
section{
    height: 500px;
}

/* --------- Header Section -------- */

.flexible-div{
    display: flex;
    margin-bottom: 3%;
}

.half-width{
    width: 50%;
    margin-left: 5%;
}
.half-width img {
    height: 500px;
    width: 75%;
}
.text-color{
    color: #EC4C7A;
}
.link-button{
    color: white;
    background-image: linear-gradient(#EC5299, #ED4B6F);
    padding: 15px 30px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 700;
}

/* --------- About Section -------- */

.about-area{
    background-image: url(/images/about-bg.png);
    background-size: cover;
}



/* --------- Portfolio Section -------- */
.portfolio-area{
    height: 600px;
    margin-bottom: 200px;
}
.portfolio-area h2{
    text-align: center;
    margin-bottom: 30px;
}
.portfolio-area p{
    text-align: center;
    margin-bottom: 30px;
}
.portfolio-area hr{
    height: 5px;
    width: 20%;
    background: #EC4C7A;
    margin-top: -30px;
    margin-bottom: 50px;        
}
.portfolio-item{
    width: 25%;
    margin-left: 5%;
    box-shadow: 0 0 10px 1px lightgray;
    padding: 10px 10px;
    border-radius: 15px;
}
.portfolio-item img{
    width: 100%;
    border-radius: 15px;
}
.portfolio-item h3{
    text-align: center;
}
.portfolio-item p{
    text-align: center;
}

/* -------- Team Section ----------- */

hr{
    height: 5px;
    width: 15%;
    background: #EC4C7A;
    margin-top: -30px;
    margin-bottom: 50px;
}
.team-sec h2{
    text-align: center;
    margin-bottom: 30px;
}
.team-member{
    width: 22%;
    margin-left: 2%;
    box-shadow: 0 0 10px 5px lightgray;
    border-radius: 10px;
}
.team-member h3{
    font-size: 1.5em;
    text-align: center;
}
.team-member p{
    font-size: 1em;
    margin-top: -20px;
    text-align: center;
}
.team-member img{
    height: 400px;
    width: 100%;
    border-radius: 10px;
}

/* --------- Info Section -------- */

.info-area{
    height: 170px;
    width: 80%;
    margin-top: 100px;
    margin-left: 10%;
    box-shadow: 0 0 10px 3px lightgray;
    border-radius: 15px;
}
.info-item{
    width: 26%;
    margin-left: 10%;
}
.info-item h1 {
    color: black;
    margin-top: 33px;
}
.info-item p{
    color: black;
    margin-top: -50px;
}

/* --------- Contact Section -------- */

.contact-info {
	color: white;
	background-image: linear-gradient(45deg,#EC5299,#ED4B6F);
	width: 50%;
	height: 28%;
	border-radius: 10px;
	margin-left: 23%;
	padding-top: 40px;
    margin-bottom: 100px;
}
.contact-info p{
    text-align: center;
    color: white;
    margin-top: -10px;
}
.contact-info h3{
    text-align: center;
    margin-top: -35px;
    padding-bottom: 30px;
    color: white;
}

/* --------- Footer Section -------- */

footer{
    height: 150px;
    background: black;
}
footer h3{
    padding-top: 10px;
    text-align: center;
    padding-top: 30px;
}
footer p{
    font-size: 10px;
    text-align: center;
    margin-top: -10px;
}